
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "ApproveMember";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<div class="main-content">

    <div class="page-content">
        <!-- start page title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4>Approve Members</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Iriri</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Approve Members</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="container-fluid">

            <div class="page-content-wrapper">




                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- <div>
                                  <a href="javascript:void(0);" class="btn btn-success mb-2" type="button" data-bs-toggle="modal"
                                    data-bs-target="#myModal"><i class="mdi mdi-plus me-2"></i>
                                    Create
                                    Event</a>
                                </div> -->
                                <div class="table-responsive mt-3">
                                    <table class="table table-centered datatable dt-responsive nowrap "
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>DOB</th>
                                                <th>Occupation</th>
                                                @*<th style="width: 120px;">Action</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.members != null)
                                            {
                                                foreach (var item in ViewBag.members)
                                                {
                                                    <tr>
                                                        <td style="display:none"> @item.MemberEmail </td>
                                                        <td> @item.FirstName</td>
                                                        <td>@item.LastName</td>

                                                        <td>
                                                            @item.MemberPhone
                                                        </td>
                                                        <td>@item.DOB</td>
                                                        <td>
                                                            @item.Occupation
                                                        </td>

                                                        <!--<td id="tooltip-container0">-->
                                                            @*<button class="btn-danger" onclick="Delete('@item.Id')">Approve</button>
                                                                <button class="btn-danger" onclick="Delete('@item.Id')">Decline</button>*@




                                                            <!--<a href="#" onclick="Approve('@item.MemberEmail')" class="text-success" data-bs-container="#tooltip-container0"
                                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Approve">
                                                                <i class="mdi mdi-check font-size-18"></i>
                                                            </a>

                                                            <a href="#;" class="text-danger" data-bs-container="#tooltip-container0"
                                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Decline" onclick="Delete(@item.Id)">
                                                                <i class="mdi mdi-cancel font-size-18"></i>
                                                            </a>
                                                        </td>-->
                                                    </tr>

                                                }
                                            }



                                        </tbody>
                                    </table>
                                    <script>

                                        function Approve(email) {
                                            alert(email);

                                            $.ajax({
                                                type: "POST",
                                                // traditional: true,
                                                cache: false,
                                                url: "/Member/ApproveMember",
                                                data: { email: email },//{ values: selectedIDs },
                                                contentType: "application/x-www-form-urlencoded",
                                                //  dataType: "json",
                                                success: setTimeout(function () {
                                                    Swal.fire("Success", "Member Approved Successfully", "success").then(() => {
                                                        location.href = "/Dashboard";//where you want to redirect after success
                                                    });
                                                }, 100)
                                                //success: setTimeout(function () {
                                                //    Swal.fire({ title: 'Success', 'text': ('Pin Pushed successfully'), 'type': 'success' })
                                                //        .then(() => {
                                                //            location.href = "/Dashboard";//where you want to redirect after success
                                                //        });
                                                //})

                                            });

                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>


        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->




</div>




