
@{
    ViewData["Title"] = "Index";
}

<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
        
        <!-- is search -->


        <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title"> Events</h1>
                <!-- <span class="greennature-page-caption">Caption placed here</span> -->
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <section id="content-section-4">
                    <div class="greennature-color-wrapper  gdlr-show-all no-skin"
                         style="background-color: #ffffff; padding-bottom: 25px; ">
                        <div class="container">
                            <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                <div class="greennature-item-title-container container">
                                    <div class="greennature-item-title-head">
                                        <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">
                                            <img src="upload/icon-5.png" alt="" width="80" height="80" />Our
                                            Past Events
                                        </h3>
                                        <div class=" clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                                <div class="portfolio-item-wrapper type-classic-portfolio">
                                    <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                        <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                            <div class="clear"></div>
                                            @foreach (var item in ViewBag.events)
                                            {
                                                <div class="three columns">
                                                    <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                        <div class="greennature-ux greennature-classic-portfolio-ux">
                                                            <div class="portfolio-thumbnail greennature-image">
                                                                <img src="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                     alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                       href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                                                                                                       data-rel="fancybox"><span class="portfolio-icon"><i class="fa fa-link"></i></span></a>
                                                            </div>
                                                            <div class="portfolio-classic-content">
                                                                <h3 class="portfolio-title">
                                                                    @*<a href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">

                                                                    </a>*@
                                                                    @item.EventTitle
                                                                </h3>
                                                                <div class="greennature-portfolio-info">
                                                                    <div class="portfolio-info portfolio-tag">
                                                                        <span class="info-head greennature-title">
                                                                            Tags
                                                                        </span><a href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                                  rel="tag"> @item.Date</a><span class="sep">
                                                                                    ,
                                                                                </span>
                                                                                <!-- <a href="#"
                                                    rel="tag">Renewable Energy</a> -->
                                                                            </div>
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="portfolio-excerpt">
                                                                            @item.EventDescription
                                                                            <div class="clear"></div><a href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                                                        class="excerpt-read-more">Read More</a>
                                                                        </div><a class="portfolio-classic-learn-more" href="#">
                                                                            Learn
                                                                            More
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                            }

                                                    </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            


                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
                <section id="content-section-4">
                    <div class="greennature-color-wrapper  gdlr-show-all no-skin"
                         style="background-color: #ffffff; padding-bottom: 25px; ">
                        <div class="container">
                            <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                <div class="greennature-item-title-container container">
                                    <div class="greennature-item-title-head">
                                        <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">
                                            <img src="upload/icon-5.png" alt="" width="80" height="80" />Our
                                            Upcoming  Events
                                        </h3>
                                        <div class=" clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="portfolio-item-wrapper type-classic-portfolio">
                                <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                    <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                        <div class="clear"></div>

                                        @foreach (var item in ViewBag.isTeaser)
                                        {
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image">
                                                            <img src="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                 alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                   href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                                                                                                   data-rel="fancybox"><span class="portfolio-icon"><i class="fa fa-link"></i></span></a>
                                                        </div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title">
                                                                @*<a href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">

                                </a>*@
                                                                @item.EventTitle
                                                            </h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag">
                                                                    <span class="info-head greennature-title">
                                                                        Tags
                                                                    </span><a href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                              rel="tag"> @item.Date</a><span class="sep">
                                                                                ,
                                                                            </span>
                                                                            <!-- <a href="#"
                                        rel="tag">Renewable Energy</a> -->
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        @item.EventDescription
                                                                        <div class="clear"></div><a href="https://localhost:44312/api/Event/GetEventImageByName?fileName=@item.EventPicture"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more" href="#">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }






                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>

                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->



    </div>
    <!-- body-wrapper -->



    

    <div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay"></div>
    <div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container">
        <div class="greennature-payment-lightbox-inner">
            <form class="greennature-payment-form" id="greennature-payment-form">
                <h3 class="greennature-payment-lightbox-title">
                    <span class="greennature-tail" style="color: #0d550c;">Please Register To Become A Member</span>
                    <!-- <span class="greennature-tail">Greennature Foundation</span> -->
                </h3>

                <!-- <div class="greennature-payment-amount">
                                  <div class="greennature-payment-amount-head">How much would you like to donate?</div>
                                  <a class="greennature-payment-price-preset greennature-active" data-val="10">$10</a>
                                  <a class="greennature-payment-price-preset" data-val="20">$20</a>
                                  <a class="greennature-payment-price-preset" data-val="30">$30</a>
                                  <input class="greennature-payment-price-fill" type="text" placeholder="Or Your Amount(USD)" />
                                  <input class="greennature-payment-price" type="hidden" name="amount" value="10" />

                                  <input class="greennature-payment-price" type="hidden" name="a3" value="10">
                              </div> -->
                <!-- <div class="greennature-paypal-attribute">
                                  <span class="greennature-head">Would you like to make regular donations?</span>
                                  <span class="greennature-subhead">I would like to make </span>
                                  <select name="t3" class="greennature-recurring-option">
                                      <option value="0">one time</option>
                                      <option value="W">weekly</option>
                                      <option value="M">monthly</option>
                                      <option value="Y">yearly</option>
                                  </select>
                                  <span class="greennature-subhead">donation(s)</span>
                                  <input type="hidden" name="p3" value="1" />
                                  <div class="greennature-recurring-time-wrapper">
                                      <span class="greennature-subhead">How many times would you like this to recur? (including
                                          this payment) *</span>
                                      <select name="srt" class="greennature-recurring-option">
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="11">11</option>
                                          <option value="12">12</option>
                                      </select>
                                  </div>
                                  <input type="hidden" name="cmd" value="_xclick">
                                  <input type="hidden" name="bn" value="PP-BuyNowBF">
                                  <input type="hidden" name="src" value="1">
                                  <input type="hidden" name="sra" value="1">
                              </div> -->

                <div class="greennature-form-fields">
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Name *</span>
                            <input class="greennature-require" type="text" name="name">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Last Name *</span>
                            <input class="greennature-require" type="text" name="last-name">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Email *</span>
                            <input class="greennature-require greennature-email" type="text" name="email">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Phone</span>
                            <input type="text" name="phone">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head"> Confirm Password *</span>
                            <input type="password" style="background-color: #ffffff;" name="password">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Password *</span>
                            <input type="password" style="background-color: #ffffff;" name="password">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Occupation *</span>
                            <input class="greennature-require greennature-email" type="text" name="email">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Date Of Birth</span>
                            <input type="date" name="phone">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Address</span>
                            <textarea name="address" style="background-color: #ffffff;"></textarea>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Gender</span>
                            <select style="width: 100%; padding: 12px 20px; max-width: 100%; outline:none; border: none;">
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- <div class="greennature-payment-method">
                                  <img class="greennature-active" src="images/paypal.png" alt="paypal" /><img
                                      src="images/stripe.png" alt="stripe" />
                                  <input type="hidden" name="payment-method" value="paypal" />
                              </div> -->
                <div class="greennature-message"></div>
                <div class="greennature-loading">Loading...</div>

                <input type="submit" value="Register" />
                <span style="font-size:15px">Already have an account? <a href="#open-modal">Login</a></span>
            </form>
        </div>
    </div>


</body>

